/* Global Styles */
* {
    margin: 0;
    color: #aaa;
    font-family: "Monaco", monospace;
    line-height: 5vh;
    font-size: 100%;
}

@keyframes cpu {
    0%      {opacity: 0; right: 5vw;}
    100%    {opacity: 1; right: 0;}
}

@keyframes user {
    0%      {opacity: 0; left: 5vw;}
    100%    {opacity: 1; left: 0;}
}

form {
    position: fixed;
    bottom: 10vh;
    left: 10vw;
}

input {
    box-shadow: -8px 10px 0px -8px #444;
    background: transparent;
    border: none;
    width: 80vw;
    transition: 250ms;
}

input:disabled {
    box-shadow: -8px 10px 0px -8px #000;
}

input:focus {
    box-shadow: -8px 10px 0px -8px #888;
    outline: none;
}

body {
    background: #222;
}

.content {
    height: 65vh;
    width: 80vw;
    margin: 17.5vh 10vw;
    overflow: auto;
}

.cpu {
    position: relative;
    text-align: left;
    animation: cpu 250ms cubic-bezier(0.50, 0.50, 0, 0.95);
}

.cpu::before {
    content: "> ";
}

.user {
    position: relative;
    text-align: right;
    animation: user 250ms cubic-bezier(0.50, 0.50, 0, 0.95);
}

.user::after {
    content: " <";
}